{% if site.enable_google_verification or site.enable_bing_verification %}
  <!-- Website verification -->
  {% if site.enable_google_verification %}
    <meta name="google-site-verification" content="{{ site.google_site_verification }}">
  {% endif %}
  {% if site.enable_bing_verification %}
    <meta name="msvalidate.01" content="{{ site.bing_site_verification }}">
  {% endif %}
  <!--
    Avoid warning on Google Chrome Error with Permissions-Policy header:
    Origin trial controlled feature not enabled: 'interest-cohort'.
    see https://stackoverflow.com/a/75119417
  -->
  <meta http-equiv="Permissions-Policy" content="interest-cohort=()">
{% endif %}

{% capture author_name %}{{ site.first_name }}{% if site.middle_name %} {{ site.middle_name }}{% endif %} {{ site.last_name }}{% endcapture %}

<!-- Standard metadata -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>
  {% if site.title == 'blank' %}
    {% capture title %}{{ author_name }}{% endcapture %}
  {% else %}
    {% capture title %}{{ site.title }}{% endcapture %}
  {% endif %}
  {% if page.url == '/blog/index.html' %}
    {{ page.title }} | {{ title }}
  {% elsif page.title != 'blank' and page.url != '/' %}
    {% if page.title == null or page.title == '' %}
      {{ page.date | date: '%Y' }} | {{ title }}
    {% else %}
      {{ page.title }} | {{ title }}
    {% endif %}
  {% else %}
    {{ title }}
  {% endif %}
</title>
<meta name="author" content="{{ author_name }}">
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
{% if page.keywords or site.keywords %}
  <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}">
{% endif %}

{% assign is_blog_post = false %}
{% if page.url != '/blog/index.html' and page.url contains '/blog/' %}
  {% unless page.url contains '/tag/' or page.url contains '/category/' %}
    {% assign is_blog_post = true %}
  {% endunless %}
{% endif %}

{% if site.serve_og_meta %}
  <!-- OpenGraph -->
  <meta property="og:site_name" content="{{ title }}">
  <meta property="og:type" content="{% if is_blog_post %}article{% else %}website{% endif %}">
  <meta property="og:title" content="{% if page.title %}{{ title }} | {{ page.title }}{% else %}{{ title }}{% endif %}">
  <meta property="og:url" content="{{ page.url | prepend: site.baseurl | prepend: site.url | remove_first: 'index.html' }}">
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  {% if page.og_image or site.og_image %}
    <meta property="og:image" content="{% if page.og_image %}{{ page.og_image }}{% else %}{{ site.og_image }}{% endif %}">
  {% endif %}
  <meta property="og:locale" content="{{ site.lang }}">

  <!-- Twitter card -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ title }}{% endif %}">
  <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  {% if page.og_image or site.og_image %}
    <meta name="twitter:image" content="{% if page.og_image %}{{ page.og_image }}{% else %}{{ site.og_image }}{% endif %}">
  {% endif %}
  {% if site.x_username %}
    <meta name="twitter:site" content="@{{ site.x_username }}">
    <meta name="twitter:creator" content="@{{ site.x_username }}">
  {% endif %}
{% endif %}

{% if site.serve_schema_org %}
  <!-- Schema.org -->
  {% comment %} Social links generator for "sameAs schema" {% endcomment %}
  {% assign sameaslinks = '' | split: ',' %}
  {% for social in site.data.socials %}
    {% case social[0] %}
      {% when 'acm_id' %}
        {% capture link %}https://dl.acm.org/profile/{{ social[1] }}/{% endcapture %}
        {% assign sameaslinks = sameaslinks | push: link %}
      {% when 'blogger_url' %}
        {% capture link %}{{ social[1] }}{% endcapture %}
        {% assign sameaslinks = sameaslinks | push: link %}
      {% when 'bluesky_url' %}
        {% capture link %}{{ social[1] }}{% endcapture %}
        {% assign sameaslinks = sameaslinks | push: link %}
      {% when 'dblp_url' %}
        {% capture link %}{{ social[1] }}{% endcapture %}
        {% assign sameaslinks = sameaslinks | push: link %}
      {% when 'discord_id' %}
        {% capture link %}https://discord.com/users/{{ social[1] }}{% endcapture %}
        {% assign sameaslinks = sameaslinks | push: link %}
      {% when 'email' %}
        {% comment %}
          {% capture link %}mailto:{{ social[1] | encode_email }}{% endcapture %}
          {% assign sameaslinks = sameaslinks | push: link %}
        {% endcomment %}
      {% when 'facebook_id' %}
        {% capture link %}https://facebook.com/{{ social[1] }}{% endcapture %}
        {% assign sameaslinks = sameaslinks | push: link %}
      {% when 'flickr_id' %}
        {% capture link %}https://www.flickr.com/{{ social[1] }}{% endcapture %}
        {% assign sameaslinks = sameaslinks | push: link %}
      {% when 'github_username' %}
        {% capture link %}https://github.com/{{ social[1] }}{% endcapture %}
        {% assign sameaslinks = sameaslinks | push: link %}
      {% when 'gitlab_username' %}
        {% capture link %}https://gitlab.com/{{ social[1] }}{% endcapture %}
        {% assign sameaslinks = sameaslinks | push: link %}
      {% when 'hal_id' %}
        {% capture link %}https://cv.hal.science/{{ social[1] }}/{% endcapture %}
        {% assign sameaslinks = sameaslinks | push: link %}
      {% when 'ieee_id' %}
        {% capture link %}https://ieeexplore.ieee.org/author/{{ social[1] }}/{% endcapture %}
        {% assign sameaslinks = sameaslinks | push: link %}
      {% when 'inspirehep_id' %}
        {% capture link %}https://inspirehep.net/authors/{{ social[1] }}{% endcapture %}
        {% assign sameaslinks = sameaslinks | push: link %}
      {% when 'instagram_id' %}
        {% capture link %}https://instagram.com/{{ social[1] }}{% endcapture %}
        {% assign sameaslinks = sameaslinks | push: link %}
      {% when 'kaggle_id' %}
        {% capture link %}https://www.kaggle.com/{{ social[1] }}{% endcapture %}
        {% assign sameaslinks = sameaslinks | push: link %}
      {% when 'keybase_username' %}
        {% capture link %}https://keybase.io/{{ social[1] }}{% endcapture %}
        {% assign sameaslinks = sameaslinks | push: link %}
      {% when 'lastfm_id' %}
        {% capture link %}https://www.last.fm/user/{{ social[1] }}{% endcapture %}
        {% assign sameaslinks = sameaslinks | push: link %}
      {% when 'lattes_id' %}
        {% capture link %}http://lattes.cnpq.br/{{ social[1] }}{% endcapture %}
        {% assign sameaslinks = sameaslinks | push: link %}
      {% when 'leetcode_id' %}
        {% capture link %}https://leetcode.com/u/{{ social[1] }}/{% endcapture %}
        {% assign sameaslinks = sameaslinks | push: link %}
      {% when 'linkedin_username' %}
        {% capture link %}https://www.linkedin.com/in/{{ social[1] }}{% endcapture %}
        {% assign sameaslinks = sameaslinks | push: link %}
      {% when 'mastodon_username' %}
        {% capture link %}https://{{ social[1] }}{% endcapture %}
        {% assign sameaslinks = sameaslinks | push: link %}
      {% when 'medium_username' %}
        {% capture link %}https://medium.com/@{{ social[1] }}{% endcapture %}
        {% assign sameaslinks = sameaslinks | push: link %}
      {% when 'orcid_id' %}
        {% capture link %}https://orcid.org/{{ social[1] }}{% endcapture %}
        {% assign sameaslinks = sameaslinks | push: link %}
      {% when 'osf_id' %}
        {% capture link %}https://osf.io/{{ social[1] }}/{% endcapture %}
        {% assign sameaslinks = sameaslinks | push: link %}
      {% when 'pinterest_id' %}
        {% capture link %}https://www.pinterest.com/{{ social[1] }}{% endcapture %}
        {% assign sameaslinks = sameaslinks | push: link %}
      {% when 'publons_id' %}
        {% capture link %}https://publons.com/a/{{ social[1] }}/{% endcapture %}
        {% assign sameaslinks = sameaslinks | push: link %}
      {% when 'quora_username' %}
        {% capture link %}https://www.quora.com/profile/{{ social[1] }}{% endcapture %}
        {% assign sameaslinks = sameaslinks | push: link %}
      {% when 'research_gate_profile' %}
        {% capture link %}https://www.researchgate.net/profile/{{ social[1] }}/{% endcapture %}
        {% assign sameaslinks = sameaslinks | push: link %}
      {% when 'rss_icon' %}
        {% comment %}
          {% capture link %}{{ site.baseurl }}/feed.xml{% endcapture %}
          {% assign sameaslinks = sameaslinks | push: link %}
        {% endcomment %}
      {% when 'scholar_userid' %}
        {% capture link %}https://scholar.google.com/citations?user={{ social[1] }}{% endcapture %}
        {% assign sameaslinks = sameaslinks | push: link %}
      {% when 'scopus_id' %}
        {% capture link %}https://www.scopus.com/authid/detail.uri?authorId={{ social[1] }}{% endcapture %}
        {% assign sameaslinks = sameaslinks | push: link %}
      {% when 'semanticscholar_id' %}
        {% capture link %}https://www.semanticscholar.org/author/{{ social[1] }}{% endcapture %}
        {% assign sameaslinks = sameaslinks | push: link %}
      {% when 'spotify_id' %}
        {% capture link %}https://open.spotify.com/user/{{ social[1] }}{% endcapture %}
        {% assign sameaslinks = sameaslinks | push: link %}
      {% when 'stackoverflow_id' %}
        {% capture link %}https://stackoverflow.com/users/{{ social[1] }}{% endcapture %}
        {% assign sameaslinks = sameaslinks | push: link %}
      {% when 'strava_userid' %}
        {% capture link %}https://www.strava.com/athletes/{{ social[1] }}{% endcapture %}
        {% assign sameaslinks = sameaslinks | push: link %}
      {% when 'telegram_username' %}
        {% capture link %}https://telegram.me/{{ social[1] }}{% endcapture %}
        {% assign sameaslinks = sameaslinks | push: link %}
      {% when 'unsplash_id' %}
        {% capture link %}https://unsplash.com/@{{ social[1] }}{% endcapture %}
        {% assign sameaslinks = sameaslinks | push: link %}
      {% when 'whatsapp_number' %}
        {% capture link %}https://wa.me/{{ social[1] }}{% endcapture %}
        {% assign sameaslinks = sameaslinks | push: link %}
      {% when 'wikidata_id' %}
        {% capture link %}https://www.wikidata.org/wiki/{{ social[1] }}{% endcapture %}
        {% assign sameaslinks = sameaslinks | push: link %}
      {% when 'wikipedia_id' %}
        {% capture link %}https://wikipedia.org/wiki/User:{{ social[1] }}{% endcapture %}
        {% assign sameaslinks = sameaslinks | push: link %}
      {% when 'work_url' %}
        {% capture link %}{{ social[1] }}{% endcapture %}
        {% assign sameaslinks = sameaslinks | push: link %}
      {% when 'x_username' %}
        {% capture link %}https://twitter.com/{{ social[1] }}{% endcapture %}
        {% assign sameaslinks = sameaslinks | push: link %}
      {% when 'youtube_id' %}
        {% capture link %}https://youtube.com/@{{ social[1] }}{% endcapture %}
        {% assign sameaslinks = sameaslinks | push: link %}
      {% when 'zotero_username' %}
        {% capture link %}https://www.zotero.org/{{ social[1] }}{% endcapture %}
        {% assign sameaslinks = sameaslinks | push: link %}
      {% else %}
        {% assign sameaslinks = sameaslinks | push: social[1].url %}
    {% endcase %}
  {% endfor %}

  <script type="application/ld+json">
    {
        "author":
        {
            "@type": "Person",
            "name": "{{ author_name }}"
        },
        "url": "{{ page.url | prepend: site.baseurl | prepend: site.url }}",
        "@type": "{% if is_blog_post %}BlogPosting{% else %}WebSite{% endif %}",
        "description": "{% if page.description %}{{ page.description }}{% else if site.description %}{{ site.description }}{% endif %}",
        "headline": "{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}",
        {% if sameaslinks != blank %}
        "sameAs": {{ sameaslinks | jsonify }},
        {% endif %}
        "name": "{{ author_name }}",
        "@context": "https://schema.org"
    }
  </script>
{% endif %}
