
<div class="news">
  {% if site.news != blank %}
    {% assign news = site.news | reverse %}
    
    {% comment %}
      If a numeric limit is provided, slice the news items.
    {% endcomment %}
    {% if include.limit and include.limit != true %}
      {% assign news = news | slice: 0, include.limit %}
      <div class="table-responsive">
        <table class="table table-sm table-borderless">
          {% for item in news %}
              <tr>
                <td style="font-weight: bold;">{{ item.date | date: "%m/%d/%y" }}</td>
                <td>
                  {% assign tt = item.tags %}
                  {% if tt[0] == "event" %}
                    <i class="fa fa-calendar-days" style="margin-right: 4px" title="{{tt[0]}}"></i>
                  {% elsif tt[0] == "paper" %}
                    <i class="fa fa-file-pdf" style="margin-right: 4px" title="{{tt[0]}}"></i>
                  {% elsif tt[0] == "research" %}
                    <i class="fa fa-lightbulb" style="margin-right: 4px" title="{{tt[0]}}"></i>
                  {% else %}
                    <i class="fa fa-file" style="margin-right: 4px" title="{{tt[0]}}"></i>
                  {% endif %}
                  </td>

                  <td>
                  {% if item.image %}
                   {% assign full_url = "/images/" | append: item.image %}
                     <div style="width: 250px; height:187px;overflow: hidden;">
                      <a class="news-title zoom" href="{{ item.url | relative_url }}">
                        <img src="{{ full_url }}" alt="{{ item.title }}" style="width: 100%; height: 100%; object-fit: cover;"
                        class="img-fluid img-thumbnail rounded z-depth-1"/>
                      </a>
                    </div>
                  {% else %}
                     <div style="width: 250px; height:187px;overflow: hidden;">
                      <a class="news-title zoom" href="{{ item.url | relative_url }}">
                       <img src="{{ 'assets/img/new-logo-small-480.webp' | relative_url }}" alt="{{ item.title }}" style="width: 100%; height: 100%; object-fit: cover;"
                       class="img-fluid img-thumbnail rounded z-depth-1"/>
                       </a>
                    </div>
                  {% endif %}
                  </td>

                <td>
                  {% if item.inline %}
                    {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                  {% else %}
                    <a class="news-title" href="{{ item.url | relative_url }}">
                     {% if tt[0] == "paper" %}
                      New paper: {{ item.title }}
                      {% else %}
                      {{ item.title }}
                      {% endif %}
                    </a>
                  {% endif %}
                </td>
              </tr>
          {% endfor %}
        </table>
      </div>
    {% else %}
      {% comment %}
        No numeric limit passed, so group by year for the news page.
      {% endcomment %}

    <div class="row">

      <!-- Sticky left menu -->
      <div class="col-md-2 d-none d-md-block">
        <div class="sticky-top" style="top: 100px;">
          <ul class="list-unstyled">
            <li><a data-tag="all" class="filter-link news_selected" style="color: var(--global-theme-color);">all</a></li>
            <li><a data-tag="event" class="filter-link" style="color: var(--global-theme-color);">events</a></li>
            <li><a data-tag="paper" class="filter-link" style="color: var(--global-theme-color);">papers</a></li>
            <li><a data-tag="research" class="filter-link" style="color: var(--global-theme-color);">research</a></li>
            <li><a data-tag="art" class="filter-link" style="color: var(--global-theme-color);">art</a></li>
          </ul>
        </div>
      </div>


    <!-- Main content -->
    <div class="col-md-10">
      {% assign grouped_by_year = news | group_by_exp:"item", "item.date | date: '%Y'" %}
      <div class="table-responsive">
        <table class="table table-sm table-borderless">
        <tbody>
          {% for year_group in grouped_by_year %}
             {% assign post_year = year_group.name | plus: 0 %}
            <!-- Year divider row -->
            <tr>
              <td colspan="4" style="padding-top: 0;"><h2 class="year-divider">{{ year_group.name }}</h2></td>
            </tr>

            {% for item in year_group.items %}
                <tr class="news-item" data-tags="{{ item.tags | join: ' ' }}" style="padding-bottom: 4px;">
                  <td style="font-weight: bold;">{{ item.date | date: "%m/%d/%y" }}</td>
                  <td>
                  {% assign tt = item.tags %}
                  {% if tt[0] == "event" %}
                    <i class="fa fa-calendar-days" style="margin-right: 4px" title="{{tt[0]}}"></i>
                  {% elsif tt[0] == "paper" %}
                    <i class="fa fa-file-pdf" style="margin-right: 4px" title="{{tt[0]}}"></i>
                  {% elsif tt[0] == "research" %}
                    <i class="fa fa-lightbulb" style="margin-right: 4px" title="{{tt[0]}}"></i>
                  {% else %}
                    <i class="fa fa-file" style="margin-right: 4px" title="{{tt[0]}}"></i>
                  {% endif %}
                  </td>

                  <td>

                  {% if item.image %}
                   {% assign full_url = "/images/" | append: item.image %}
                     <div style="width: 300px; height:200px;overflow: hidden;">
                      <a class="news-title" href="{{ item.url | relative_url }}">
                        <img src="{{ full_url }}" alt="{{ item.title }}" loading="lazy" style="width: 100%; height: 100%; object-fit: cover;"/>
                      </a>
                    </div>
                  {% else %}
                     <div style="width: 300px; height:200px;overflow: hidden;">
                      <a class="news-title" href="{{ item.url | relative_url }}">
                        <img src="{{ 'assets/img/new-logo-small-480.webp' | relative_url }}" alt="{{ item.title }}" loading="lazy" style="width: 100%; height: 100%; object-fit: cover;" />
                      </a>
                    </div>
                  {% endif %}

                  </td>

                  <td>
                    {% if item.inline %}
                      {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                    {% else %}
                      <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                    {% endif %}
                  </td>
                </tr>
            {% endfor %}
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    {% endif %}
    </div>
  {% else %}
    <p>No news so far...</p>
  {% endif %}
</div>


<script>
  const buttons = document.querySelectorAll('.filter-link');
  const newsItems = document.querySelectorAll('.news-item');

  buttons.forEach(button => {
    button.addEventListener('click', () => {
      const tag = button.getAttribute('data-tag');

      // Update active button style
      buttons.forEach((btn) => {
        btn.classList.remove('news_selected');
      });
      button.classList.add('news_selected');

      // Filter news
      newsItems.forEach(item => {
        const itemTags = item.getAttribute('data-tags').split(' ');
        if (tag === 'all' || itemTags.includes(tag)) {
          item.style.display = '';
        } else {
          item.style.display = 'none';
        }
      });
    });
  });
</script>