<div class="col">
  <a href="{% if project.redirect %}{{ project.redirect }}{% else %}{{ project.url | relative_url }}{% endif %}">
    <div class="card h-100 hoverable">
      <h4 class="card-title">{{ project.title }}</h4>

      <div class="row project-links">
        {% if project.github %}
          <div>
            <a href="{{ project.github }}">[GitHub]</a>
          </div>
        {% endif %}
        {% if project.pdf %}
          <div>
            <a href="{{ project.pdf }}">[PDF]</a>
          </div>
        {% endif %}
      </div>

      {% if project.img %}
        {%
          include figure.liquid
          loading="eager"
          path=project.img
          sizes = "250px"
          alt="project thumbnail"
          class="card-img-top"
        %}
      {% endif %}
      <p class="card-text">{{ project.description }}</p>
    </div>
  </a>
</div>
