{% comment %}
  Unified certificates entry renderer for both formats
{% endcomment %}

<ul class="card-text font-weight-light list-group list-group-flush">
  {% for entry in entries %}
    <li class="list-group-item">
      {% if entry.icon %}
        <i class="{{ entry.icon }}"></i>
      {% endif %}
      {% if entry.url %}
        <strong
          ><a href="{{ entry.url }}" target="_blank">{{ entry.name }}</a></strong
        >
      {% else %}
        <strong>{{ entry.name }}</strong>
      {% endif %}

      {% if entry.issuer %}
        - <em>{{ entry.issuer }}</em>
      {% endif %}

      {% if entry.date %}
        ({{ entry.date | split: '-' | slice: 0, 1 | join: '' }})
      {% endif %}
    </li>
  {% endfor %}
</ul>
