{% assign lang = site.lang | split: '-' | first %}

{% case lang %}
  {% when 'pt' %}
    {% assign lang = site.lang %}

  {% when 'zh' %}
    {% assign lang_last = site.lang | split: '-' | last %}
    {% case lang_last %}
      {% when 'cn', 'sg', 'my', 'hans' %}
        {% assign lang = 'cn' %}
      {% when 'tw', 'hk', 'mo', 'hant' %}
        {% assign lang = 'zh-tw' %}
    {% endcase %}

    {% comment %} Add a new language using when... if needed {% endcomment %}
    {% comment %} If you still encounter language-display issues, check the available locale codes in github-readme-stats (different from ISO-639 standard used in your website) {% endcomment %}
    {% comment %} https://github.com/anuraghazra/github-readme-stats?tab=readme-ov-file#available-locales {% endcomment %}
{% endcase %}

<div class="repo p-2 text-center">
  <a href="https://github.com/{{ include.username }}">
    {% if site.repo_stats_type == 'external' %}
      <img
        class="only-light w-100"
        alt="{{ include.username }}"
        src="{{ site.external_services.github_readme_stats_url }}/api/?username={{ include.username }}&theme={{ site.repo_theme_light }}&locale={{ lang }}&show_icons=true"
      >
      <img
        class="only-dark w-100"
        alt="{{ include.username }}"
        src="{{ site.external_services.github_readme_stats_url }}/api/?username={{ include.username }}&theme={{ site.repo_theme_dark }}&locale={{ lang }}&show_icons=true"
      >
    {% else %}
      {% assign generators = site.repo_stats_generators | default: 'metrics' %}

      {% if generators == 'both' or (generators contains 'metrics' and generators contains 'readme') %}
        <div class="row">
          <div class="col-12 mb-3">
            {% if site.repo_stats_type == 'local' %}
              <img
                class="w-100"
                alt="{{ include.username }} - Metrics"
                src="{{ '/assets/img/stats/user_stats_' | append: include.username | append: '.svg' | relative_url }}"
              >
            {% else %}
              <img
                class="w-100"
                alt="{{ include.username }} - Metrics"
                src="{{ site.stats_branch_url }}/assets/img/stats/user_stats_{{ include.username }}.svg"
              >
            {% endif %}
          </div>
          <div class="col-12">
            {% if site.repo_stats_type == 'local' %}
              <img
                class="only-light w-100"
                alt="{{ include.username }} - Stats"
                src="{{ '/assets/img/stats/user_stats_readme_' | append: include.username | append: '_light.svg' | relative_url }}"
              >
              <img
                class="only-dark w-100"
                alt="{{ include.username }} - Stats"
                src="{{ '/assets/img/stats/user_stats_readme_' | append: include.username | append: '_dark.svg' | relative_url }}"
              >
            {% else %}
              <img
                class="only-light w-100"
                alt="{{ include.username }} - Stats"
                src="{{ site.stats_branch_url }}/assets/img/stats/user_stats_readme_{{ include.username }}_light.svg"
              >
              <img
                class="only-dark w-100"
                alt="{{ include.username }} - Stats"
                src="{{ site.stats_branch_url }}/assets/img/stats/user_stats_readme_{{ include.username }}_dark.svg"
              >
            {% endif %}
          </div>
        </div>
      {% elsif generators contains 'readme' %}
        {% if site.repo_stats_type == 'local' %}
          <img
            class="only-light w-100"
            alt="{{ include.username }}"
            src="{{ '/assets/img/stats/user_stats_readme_' | append: include.username | append: '_light.svg' | relative_url }}"
          >
          <img
            class="only-dark w-100"
            alt="{{ include.username }}"
            src="{{ '/assets/img/stats/user_stats_readme_' | append: include.username | append: '_dark.svg' | relative_url }}"
          >
        {% else %}
          <img
            class="only-light w-100"
            alt="{{ include.username }}"
            src="{{ site.stats_branch_url }}/assets/img/stats/user_stats_readme_{{ include.username }}_light.svg"
          >
          <img
            class="only-dark w-100"
            alt="{{ include.username }}"
            src="{{ site.stats_branch_url }}/assets/img/stats/user_stats_readme_{{ include.username }}_dark.svg"
          >
        {% endif %}
      {% else %}
        {% if site.repo_stats_type == 'local' %}
          <img
            class="w-100"
            alt="{{ include.username }}"
            src="{{ '/assets/img/stats/user_stats_' | append: include.username | append: '.svg' | relative_url }}"
          >
        {% else %}
          <img
            class="w-100"
            alt="{{ include.username }}"
            src="{{ site.stats_branch_url }}/assets/img/stats/user_stats_{{ include.username }}.svg"
          >
        {% endif %}
      {% endif %}
    {% endif %}
  </a>
</div>
