<div class="list-groups">
  {% assign courses = data[1] | group_by: 'date' | sort: 'order' %}
  {% for record in courses %}
    {% for content in record.items %}
      <div class="list-group col-md-6">
        <table class="table-cv list-group-table">
          <tbody>
            <tr>
              <!-- Calculate colspan number for category title -->
              {% assign i = 1 %}
              {% for item in content.items %}
                {% assign i = i | plus: 1 %}
              {% endfor %}
              <td colspan="{{ i }}" class="list-group-category">
                <a href="{{ content.url | default: # }}">{{ content.course }}</a>
              </td>
            </tr>
            <tr>
              <td class="list-group-name">
                <b>{{ content.institution }} - Grade: {{ content.grade }}</b>
              </td>
              <td class="list-group-name">{{ content.date }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    {% endfor %}
  {% endfor %}
</div>
