---
layout: default
---
{% unless site.data.resume %}
  <div class="post">
    <header class="post-header">
      <h1 class="post-title">
        {{ page.title }}
        {% if page.cv_pdf %}
          <a
            {% if page.cv_pdf contains '://' %}
              href="{{ page.cv_pdf }}"
            {% else %}
              href="{{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url }}"
            {% endif %}
            target="_blank"
            rel="noopener noreferrer"
            class="float-right"
          >
            <i class="fa-solid fa-file-pdf"></i>
          </a>
        {% endif %}
      </h1>
      {% if page.description %}
        <p class="post-description">{{ page.description }}</p>
      {% endif %}
    </header>

    <article>
      <div class="cv">
        {% assign cv = site.data.cv.cv %}
        {% include cv/gen-info.liquid %}
        {% for entry in cv.sections %}
          {% unless entry[0] == 'summary' %}
            {% if entry[0] == 'education' %}
              <a class="anchor" id="{{ entry[0] }}"></a>
              <div class="card mt-3 p-3">
                <h3 class="card-title font-weight-medium">{{ entry[0] | capitalize }}</h3>
                <div>
                  {% include cv/education.liquid %}
                </div>
              </div>
            {% elsif entry[0] == 'experience' %}
              <a class="anchor" id="{{ entry[0] }}"></a>
              <div class="card mt-3 p-3">
                <h3 class="card-title font-weight-medium">{{ entry[0] | capitalize }}</h3>
                <div>
                  {% include cv/work.liquid %}
                </div>
              </div>
            {% elsif entry[0] == 'publications' %}
              <a class="anchor" id="{{ entry[0] }}"></a>
              <div class="card mt-3 p-3">
                <h3 class="card-title font-weight-medium">{{ entry[0] | capitalize }}</h3>
                <div>
                  {% include cv/publications.liquid %}
                </div>
              </div>
            {% elsif entry[0] == 'projects' %}
              <a class="anchor" id="{{ entry[0] }}"></a>
              <div class="card mt-3 p-3">
                <h3 class="card-title font-weight-medium">{{ entry[0] | capitalize }}</h3>
                <div>
                  {% include cv/projects.liquid %}
                </div>
              </div>
            {% elsif entry[0] == 'skills' or entry[0] == 'technologies' %}
              <a class="anchor" id="{{ entry[0] }}"></a>
              <div class="card mt-3 p-3">
                <h3 class="card-title font-weight-medium">{{ entry[0] | capitalize }}</h3>
                <div>
                  {% include cv/skills.liquid %}
                </div>
              </div>
            {% elsif entry[0] == 'interests' %}
              <a class="anchor" id="{{ entry[0] }}"></a>
              <div class="card mt-3 p-3">
                <h3 class="card-title font-weight-medium">{{ entry[0] | capitalize }}</h3>
                <div>
                  {% include cv/skills.liquid %}
                </div>
              </div>
            {% elsif entry[0] == 'languages' %}
              <a class="anchor" id="{{ entry[0] }}"></a>
              <div class="card mt-3 p-3">
                <h3 class="card-title font-weight-medium">{{ entry[0] | capitalize }}</h3>
                <div>
                  {% include cv/languages.liquid %}
                </div>
              </div>
            {% elsif entry[0] == 'awards' %}
              <a class="anchor" id="{{ entry[0] }}"></a>
              <div class="card mt-3 p-3">
                <h3 class="card-title font-weight-medium">{{ entry[0] | capitalize }}</h3>
                <div>
                  {% include cv/awards.liquid %}
                </div>
              </div>
            {% elsif entry[0] == 'references' %}
              <a class="anchor" id="{{ entry[0] }}"></a>
              <div class="card mt-3 p-3">
                <h3 class="card-title font-weight-medium">{{ entry[0] | capitalize }}</h3>
                <div>
                  {% include cv/references.liquid %}
                </div>
              </div>
            {% elsif entry[0] == 'volunteering' or entry[0] == 'volunteer' %}
              <a class="anchor" id="{{ entry[0] }}"></a>
              <div class="card mt-3 p-3">
                <h3 class="card-title font-weight-medium">{{ entry[0] | capitalize }}</h3>
                <div>
                  {% include cv/work.liquid %}
                </div>
              </div>
            {% elsif entry[0] == 'certificates' %}
              <a class="anchor" id="{{ entry[0] }}"></a>
              <div class="card mt-3 p-3">
                <h3 class="card-title font-weight-medium">{{ entry[0] | capitalize }}</h3>
                <div>
                  {% include cv/certificates.liquid %}
                </div>
              </div>
            {% endif %}
          {% endunless %}
        {% endfor %}
      </div>
    </article>
  </div>
{% else %}
  <div class="post">
    <header class="post-header">
      <h1 class="post-title">
        {{ page.title }}
        {% if page.cv_pdf %}
          <a
            {% if page.cv_pdf contains '://' %}
              href="{{ page.cv_pdf }}"
            {% else %}
              href="{{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url }}"
            {% endif %}
            target="_blank"
            rel="noopener noreferrer"
            class="float-right"
          >
            <i class="fa-solid fa-file-pdf"></i>
          </a>
        {% endif %}
      </h1>
      {% if page.description %}
        <p class="post-description">{{ page.description }}</p>
      {% endif %}
    </header>

    <article>
      <div class="cv">
        {% for data in site.data.resume %}
          {% if site.jsonresume and site.jsonresume.size > 0 %}
            {% unless site.jsonresume contains data[0] %}
              {% continue %}
            {% endunless %}
          {% endif %}
          {% if data[0] == 'meta' or data[1].size == 0 %} {% continue %} {% endif %}
          <a class="anchor" id="{{ data[0] }}"></a>
          <div class="card mt-3 p-3">
            <h3 class="card-title font-weight-medium">{{ data[0] | capitalize }}</h3>
            <div>
              {% case data[0] %}
                {% when 'basics' %}
                  {% include resume/basics.liquid %}
                {% when 'education' %}
                  {% include resume/education.liquid %}
                {% when 'work' %}
                  {% include resume/work.liquid %}
                {% when 'volunteer' %}
                  {% include resume/volunteer.liquid %}
                {% when 'projects' %}
                  {% include resume/projects.liquid %}
                {% when 'awards' %}
                  {% include resume/awards.liquid %}
                {% when 'skills' %}
                  {% include resume/skills.liquid %}
                {% when 'publications' %}
                  {% include resume/publications.liquid %}
                {% when 'languages' %}
                  {% include resume/languages.liquid %}
                {% when 'interests' %}
                  {% include resume/interests.liquid %}
                {% when 'certificates' %}
                  {% include resume/certificates.liquid %}
                {% when 'references' %}
                  {% include resume/references.liquid %}
                {% else %}

              {% endcase %}
            </div>
          </div>
        {% endfor %}
      </div>
    </article>
  </div>
{% endunless %}
