---
layout: page
---

{% if page.members %}
<ul class="post-list">
{% for member in page.members %}
<li>
<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4 pl-3 align-self-center">
      <img class="card-img rounded-circle" src="/assets/img/{{ member.img }}">
    </div>
    <div class="col-md-8 p-3">
        <h3 class="card-title font-weight-medium">{{ member.name }}</h3>
        <h5 class="card-text">{{ member.position }}</h5>
        <p class="card-text">
          <a href="mailto:{{ member.email | encode_email }}" title="email"><i class="fas fa-envelope"></i></a> &nbsp;
          {% if member.mastodon %}
          <a href="{{ member.mastodon }}" title="Mastodon"><i class="fab fa-mastodon"></i></a> &nbsp;
          {% endif %}
          {% if member.twitter_username %}
          <a href="https://twitter.com/{{ member.twitter_username }}" title="Twitter"><i class="fab fa-twitter"></i></a> &nbsp;
          {% endif %}
          {% if member.website %}
          <a href="{{ member.website }}"><i class="fas fa-home"></i></a>
          {% endif %}
        </p>
        <p class="card-text">{{ member.description }}</p>
    </div>
  </div>
</div>
</li>
{% endfor %}
</ul>
{% endif %}

{{ content }}
