---
layout: page
---

{{ content }}

{% if page.collection and page.collection.size > 0 %}
  {% assign collection = site[page.collection] %}
  {% if collection and collection.size > 0 %}
    {% for item in collection reversed %}
      {% assign currentdate = item.date | date: "%Y" %}
      {% if currentdate != date %}
        {% unless forloop.first %}
          </ul>
        {% endunless %}
        <h1 id="y{{item.date | date: "%Y"}}">{{ currentdate }}</h1>
        <ul>
        {% assign date = currentdate %}
      {% endif %}

      <figure class="cover">
        <a class="cover-link" href="{{ item.url | relative_url }}">
        {% if item.cover %}
          <img alt="{{ item.title }} cover" src="{{ site.baseurl }}/{{ page.covers }}/{{ item.cover }}" style="height:200px" />
        {% elsif item.imdb and site.myapifilms_api_key %}
          <img alt="{{ item.title }} cover" src="" style="height:200px" />
          <script>
            fetch("https://myapifilms.com/imdb/idIMDB?idIMDB={{ item.imdb }}&token={{ site.myapifilms_api_key }}&format=json&language=en-us&aka=0&business=0&seasons=0&seasonYear=0&technical=0&trailers=0&movieTrivia=0&awards=0&moviePhotos=0&movieVideos=0&actors=0&biography=0&uniqueName=0&filmography=0&bornDied=0&starSign=0&actorActress=0&actorTrivia=0&similarMovies=0&goofs=0&keyword=0&quotes=0&fullSize=0&companyCredits=0&filmingLocations=0&directors=0&writers=0")
              .then(response => response.json())
              .then(data => {
                const img = document.querySelector("img[alt='{{ item.title }} cover']");
                img.src = data.data.movies[0].urlPoster;
              });
          </script>
        {% endif %}
        {% if item.status %}
          {% assign statuses = "abandoned,interested,paused,queued,rewatch,watched,watching" | split: ',' %}
          {% assign status = item.status | downcase | strip %}
          {% if statuses contains status %}
            <figcaption class="{{ status | downcase }}">{{ status | upcase }}</figcaption>
          {% else %}
            <figcaption class="uncategorized"> UNCATEGORIZED </figcaption>
          {% endif %}
        {% else %}
          <figcaption class="uncategorized"> UNCATEGORIZED </figcaption>
        {% endif %}
        </a>
      </figure>
      {% if forloop.last %}
        </ul>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endif %}
