---
layout: page
---
{% assign status_order = "faculty,staff,affiliate,student,emeritus,friend,alumni" | split: "," %}
{% assign display_names = "faculty,staff,affiliates,students,emeritus,friends,alumni" | split: "," %}

<div class="profiles-page container-fluid">
  <div class="row">

    <!-- Sticky left menu -->
    <div class="col-md-2 d-none d-md-block" style="padding-left:0;">
      <div class="sticky-top" style="top: 100px;">
        <ul class="list-unstyled">
          {% for status in status_order %}
            {% assign people_in_status = site.data.people | where: "status", status %}
            {% if people_in_status.size > 0 %}
              <li><a class="status-link" href="#{{ status }}">{{ display_names[forloop.index0] }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>

    <!-- Main content -->
    <div class="col-md-10">
      <div class="post">
        <article>
          {% for status in status_order %}
            {% assign people_in_status = site.data.people | where: "status", status %}

            {% assign grouped_people = people_in_status | group_by: "order" %}
            {% assign people_in_status = people_in_status | sort: "dirLastName" %}

            {% for item in grouped_people reversed %}
              {% assign sorted_people = item['items'] | sort: 'dirLastName' %}
              {% if forloop.first %}
                  {% assign people_in_status = sorted_people %}
              {% else %}
                  {% assign people_in_status = people_in_status | concat: sorted_people %}
              {% endif %}
            {% endfor %}

            {% if people_in_status.size > 0 %}
              <div class="status-section  people-status-anchor-target" id="{{ status }}">
  <div class="row">
    <div class="col-12">
      <h2 class="people-category" id="{{ status }}">{{ display_names[forloop.index0] }}</h2>
    </div>
                  {% assign people_count = people_in_status | size %}

                  {% if status == "alumni" %}
                  {% assign grouped_letters = "A,B-C,D-F,G-I,J-L,M-O,P-R,S-U,V-Z" | split: "," %}
                    <div class="col-12 mt-0 mt-md-4 pt-1 pt-md-3 pb-1 text-center">
                      {% for group in grouped_letters %}
                        <a class="letter-link" href="#{{ status }}-{{ group | replace: '-', '' }}">{{ group }}</a>{% unless forloop.last %} | {% endunless %}
                      {% endfor %}
                    </div>
                  {% endif %}

                </div>

                <div class="container px-0">
                  <div class="row pb-4">
                    {% assign current_letter = "" %}
                    {% for profile in people_in_status %}
                      {% assign first_letter = profile.dirLastName | slice: 0, 1 | upcase %}
                      {% assign group_anchor = "" %}
                      {% for group in grouped_letters %}
                        {% assign letters_in_group = group | split: "-" %}
                        {% if letters_in_group.size == 1 %}
                          {% if first_letter == letters_in_group[0] %}
                            {% assign group_anchor = group | replace: '-', '' %}
                          {% endif %}
                        {% else %}
                          {% assign start = letters_in_group[0] %}
                          {% assign end = letters_in_group[1] %}
                          {% if first_letter >= start and first_letter <= end %}
                            {% assign group_anchor = group | replace: '-', '' %}
                          {% endif %}
                        {% endif %}
                      {% endfor %}

                      {% if status == "alumni" and current_letter != first_letter %}
                        <div class="col-12 px-0 letter-section people-anchor-target" id="{{ status }}-{{ group_anchor }}"><h3>{{ first_letter }}</h3>
                        </div>
                        {% assign current_letter = first_letter %}
                      {% endif %}

                      <div class="col-4 px-0 py-2">
                        <strong>{{ profile.name }}{% if profile.alumni %} ({{ profile.alumni }}){% endif %}</strong><br>
                        {% if profile.dirTitle %}{{ profile.dirTitle }}<br>{% endif %}
                        {{ profile.department }}<br>
                        <div class="social-icons" style="margin-left: 1px !important;">
                        
                          {% if profile.email %}
                            <a href="mailto:{{ profile.email }}" class="mx-0" title="Email"><i class="fa fa-envelope mr-1"></i></a>
                          {% endif %}
                          {% if profile.url %}
                            <a href="{{ profile.url }}" class="mx-0" title="Website"><i class="fa fa-globe  mr-1"></i></a>
                          {% endif %}
                          {% if profile.linkedin %}
                            <a href="{{ profile.linkedin }}" class="mx-0" title="LinkedIn"><i class="fa-brands fa-linkedin  mr-1"></i></a>
                          {% endif %}
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </article>
      </div>
    </div>
  </div>
</div>